body {
	color: #1B721A;
}

#cart-icon {
	height: 20px;
}

#title {
	display: flex;
	justify-content: center;
	text-align: center;
}

#cartTitle {
	margin-top: 30px;
}

#container {
	display: flex;
	justify-content: center;
}

#content {
	width: 900px;
	flex-direction: column;
}

#content:last-child {
	margin-bottom: 150px;
}

.cartContainer {
	width: 810px;
	border: 3px solid #1B721A;
	margin: 40px;
	box-shadow: 0px 10px 20px grey;
}

.cartInfo {
	margin: 50px;
	display: flex;
	flex-direction: column;
	margin-top: -53px;
}

.cartName,
.totalTitle,
.totalValue {
	font-size: 4rem;
}

.cartIconContainer {
	position: relative;
	height: 50px;
	width: 50px;
	border: 3px solid #1B721A;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cartIconContainer:hover {
	background-color: #eaffe4;
	
}

.cartDivider {
	border: 1.5px solid #1B721A;
	margin-top: 50px;
	margin-bottom: 50px;
}

.totalDivider {
	border: 1.5px solid #1B721A;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 805px;
	margin-left: -50px;
}

.eachItemDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.cartQandA {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.cartSubtotal {
	font-size: 2rem;
}

.cartQuantity {
	font-size: 2rem;
}

.spacer {
	height: 20px;
}

.cartNandD {
	width: 250px;
}

.totalTitle {
	width: 100px;
}

.totalContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.checkoutButton {
	padding: 1rem 2rem;
    font-weight: bold;
    font-size: 2rem;
    color: #1B721A;
    background-color: #FDF8F1;
    border: 3px solid #1B721A;
    outline: none;
    cursor: pointer;
}

.checkoutButton:hover {
	background: #1B721A;
	color: #FDF8F1;
}

.checkoutButton:active {
	transform: scale(0.98);
}

#memberRewards, 
#rewardNote {
	text-align: center;
	width: 100%;
}

#rewardNote {
	color: #FA4238;
}

#editQButton {
	padding-top: 1.5rem;
}

#quantityInput {
	width: 50px;
	margin-right: 10px;
	font-size: 2rem;
	padding-left: 5px;
}